{% extends 'base.html' %}

{% block titulo %}
    Acerca de...
{% endblock titulo %}

{% block contenido %}
<header class="bg-success text-white text-center ">
        <h1>Bienvenidos a Acerca de</h1>
        <p>Descubriras un poco de mi, el creador de esta pagina</p>
    </header>
    <h3>Mi nombre</h3>
    <p>Camacho Zamora Adrian Eduardo</p>
    <h3>Estudios</h3>
    <p>Actualmente en la creacion de esta pagina estoy estudiando nivel preparatoria, el el Cetis 61 en la carrera de programacion</p>
    <p>En un futuro al entrar a universidad me gustaria estudiar la carrera de gastronomia, ir de viaje a otros paises y seguir aprendiendo para despues en un futuro abrir mi propio restaurante </p>
    <p>Ademas esta pagina fue creada a base de un trabajo de la materia Emplea Framework para el Desarrollo de Software</p>

    <h3>Un poco mas de mi</h3>
    <p>Tengo 16 años, soy capita del equipo masculino de voleivol del cetis, me enanta la cocina y todo tipo de acividades</p>
{% endblock contenido %}