{% extends 'base.html' %}

{% block titulo %}
    Animales Exoticos
{% endblock titulo %}
    

{% block contenido %}
    <header class="bg-success text-white text-center ">
        <h1>Bienvenidos a los Animales Exóticos</h1>
        <p>Descubre los animales más impresionantes y raros de Mexico</p>
    </header>
    
    <div class=text-center><h3>Aqui te describiremos 5 animales exoticos de Mexico</h3></div>

    
    <div class="container my-5 ">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Ajolote">
                    <div class="card-body">
                        <h5 class="card-title">Ajolote</h5>
                        <p class="card-text"><ul><li>Tipo: Anfibio</li>
                            <li>Región: Valles de México, especialmente los canales de Xochimilco (CDMX)</li>
                            <li>Dato interesante: Es capaz de regenerar extremidades, corazón, y partes del cerebro.</li>
                            <li>Estado de conservación: En peligro crítico de extinción.</li></ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Iguana rinoceronte">
                    <div class="card-body">
                        <h5 class="card-title">Iguana rinoceronte mexicana</h5>
                        <p class="card-text"><ul><li>Tipo: Reptil</li>
                        <li>Región: Costa del Pacífico mexicano</li>
                        <li>Dato interesante: Tiene una apariencia prehistórica con una cresta dorsal prominente.</li>
                        <li>Estado de conservación: Vulnerable.</li></ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Jaguar">
                    <div class="card-body">
                        <h5 class="card-title">Jaguar</h5>
                        <p class="card-text"><ul><li>Tipo: Mamífero</li>
                        <li>Región: Selvas del sur de México (Chiapas, Yucatán, Oaxaca)</li>
                        <li>Dato interesante: Es el felino más grande de América y símbolo de muchas culturas prehispánicas.</li>
                        <li>Estado de conservación: Amenazado.</li></ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="row justify-content-center ">
    
    <div class="card mb-3 col-4 text-bg-secondary">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="Mariposa monarca">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">Mariposa monarca</h5>
        <p class="card-text"><ul><li>Tipo: Insecto</li>
            <li>Región: Michoacán y Estado de México (santuario de hibernación)</li>
            <li>Dato interesante: Migra más de 4,000 km desde Canadá a México cada año.</li>
            <li>Estado de conservación: Amenazada.</li></ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>
    
    <div class="card mb-3 col-4 text-bg-secondary" >
    <div class="row g-0">
    <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start " alt="Guajolote">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">Guajolote o Pavo ocelado</h5>
        <p class="card-text"><ul><li>Tipo: Ave</li>
        <li>Región: Península de Yucatán</li>
        <li>Dato interesante: Es un pavo silvestre muy colorido que solo existe en esa zona.</li>
        <li>Estado de conservación: Casi amenazado.</li></ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>
    
</div>
{% endblock contenido %}
    
    