{% extends 'base.html' %}

{% block titulo %}
    Animales Exoticos
{% endblock titulo %}
    

{% block contenido %}
    <header class="bg-warning text-white text-center ">
        <h1>Bienvenidos a las Maravillas del Mundo</h1>
        <p>Descubre lo que hay mas adelante</p>
    </header>
    
    <div class=text-center><h3>Aqui te describiremos las 7 maravillasdel mundo</h3></div>

    
    <div class="container my-5 ">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Chichén Itzá">
                    <div class="card-body">
                        <h5 class="card-title">Chichén Itzá</h5>
                        <p class="card-text"><ul><li>Ubicación:Yucatán, México</li>
                            Antigua ciudad maya; su pirámide principal, El Castillo,
                            servía como calendario solar. Es símbolo de la astronomía
                            y la arquitectura prehispánica.</ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Coliseo Romano">
                    <div class="card-body">
                        <h5 class="card-title">El Coliseo Romano</h5>
                        <p class="card-text"><ul><li>Ubicación:Roma, Italia</li>
                            Anfiteatro construido en el siglo I d.C.;
                            albergaba combates de gladiadores y espectáculos públicos.
                            Puede albergar hasta 50,000 personas.</ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Estatua del Cristo Redentor">
                    <div class="card-body">
                        <h5 class="card-title">La Estatua del Cristo Redentor</h5>
                        <p class="card-text"><ul><li>Ubicación:Río de Janeiro, Brasil</li>
                            Estatua de 30 metros de altura situada sobre el cerro del Corcovado.
                            Es símbolo de paz y hospitalidad.</ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="row justify-content-center ">
    
    <div class="card mb-3 col-4 text-bg-secondary">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="La Gran Muralla China">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">La Gran Muralla China</h5>
        <p class="card-text"><ul><li>Ubicación:China</li>
            Estructura defensiva de más de 21,000 km construida
            para proteger al imperio chino; una de las mayores
            obras de ingeniería humana.</ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>
    
    <div class="card mb-3 col-4 text-bg-secondary" >
    <div class="row g-0">
    <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start " alt="Machu Picchu">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">Machu Picchu</h5>
        <p class="card-text"><ul><li>Ubicación:Cusco, Perú</li>
            Ciudadela inca ubicada en la cima de una montaña;
             destaca por su arquitectura de piedra y su conexión con la naturaleza..</ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>

    <div class="container my-5 ">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Petra">
                    <div class="card-body">
                        <h5 class="card-title">Petra</h5>
                        <p class="card-text"><ul><li>Ubicación:Jordania</li>
                            Ciudad tallada en roca rosada;
                            fue un importante centro comercial nabateo.
                            Su monumento más famoso es El Tesoro.</ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="#" class="card-img-top" alt="Taj Mahal">
                    <div class="card-body">
                        <h5 class="card-title">El Taj Mahal</h5>
                        <p class="card-text"><ul><li>Ubicación:Agra, India</li>
                            Mausoleo de mármol blanco construido por amor;
                            combina estilos islámico, persa e indio.
                            Es símbolo de la belleza y la eternidad.</ul></p>
                    </div>
                </div>
            </div>
    
</div>
{% endblock contenido %}
    
    
