{% extends 'base.html' %}
{% block titulo %}
    Inicio de sesion
{% endblock titulo %}

{% block contenido %}
    <div class="container bg-info">
        <div class="row text-center"><h2>Inicio de sesion</h2></div>
    <form class="row text-center">
        <div class="col-4"></div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="nombre" placeholder="Nombre de usuario">
        </div>

        
            <form class="row text-center">
            <div class=" col-4"></div>
            <div class=" col-4"></div>
            <div class="mb-3 col-4">
            <input type="text" class="form-control" id="contraseña" placeholder="Contraseña">
            </div>

            <div class=row>
            
            <div class="col-4"></div>
            <div class="mb-3 col-1">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                    <label class="form-check-label" for="radioDefault1">
                        Recordarme
                    </label>
                </div>
                </div>
                <div class=col-1></div>
                <div class="col-2"><label class="form-check-label" for="radioDefault1">
                        <a href="#" >Olvide la contraseña</a>
                    </label></div>
                
                    <form action="">
            <main class="text-center"><button type="submit" class="btn-primary bg-primary">Iniciar sesion</button></main>
            <div class="text-center">¿No tienes una cuenta? <a href="http://127.0.0.1:5000/crear" >crea una</a></div>
            </div>
        </div>
{% endblock contenido %}
    