{% extends 'base.html' %}

{% block titulo %}
    Vehiculos Antiguos
{% endblock titulo %}
    

{% block contenido %}
    <header class="bg-danger text-white text-center ">
        <h1>Bienvenidos a los Vehiculos Antiguos</h1>
        <p>Descubre los proximos vehiculos antiguos que tenemos preparados para ti</p>
    </header>
    
    <div class=text-center><h3>Aqui te describiremos 5 vehiculos Antiguos</h3></div>

    
    <div class="container my-5 ">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="{{ url_for('static', filename='img/ford.webp')}}" class="card-img-top" alt="Ford Model T">
                    <div class="card-body">
                        <h5 class="card-title">Ford Model T</h5>
                        <p class="card-text"><ul><li>Año aproximado:1908 – 1927</li>
                            Considerado el primer automóvil producido en masa;
                            tenía un motor de 4 cilindros, alcanzaba unos 70 km/h,
                            y fue diseñado para ser accesible al público.</ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="{{ url_for('static', filename='img/chev.webp')}}" class="card-img-top" alt="Chevrolet Bel Air">
                    <div class="card-body">
                        <h5 class="card-title">Chevrolet Bel Air</h5>
                        <p class="card-text"><ul><li>Año aproximado:1950s</li>
                            Auto clásico estadounidense con diseño elegante,
                            carrocería cromada,asientos amplios y motores V8 potentes;
                            símbolo del estilo de los años 50.</ul></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-bg-secondary">
                    <img src="{{ url_for('static', filename='img/volk.webp')}}" class="card-img-top" alt="Volkswagen Escarabajo">
                    <div class="card-body">
                        <h5 class="card-title">Volkswagen Escarabajo (Beetle)</h5>
                        <p class="card-text"><ul><li>Año aproximado:1938 – 1979</li>
                            Motor trasero enfriado por aire, muy duradero y económico,
                            diseño redondeado característico;
                            uno de los autos más vendidos del mundo.</ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="row justify-content-center ">
    
    <div class="card mb-3 col-4 text-bg-secondary">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/cadillac.webp')}}" class="img-fluid rounded-start" alt="Cadillac Eldorado">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">Cadillac Eldorado</h5>
        <p class="card-text"><ul><li>Año aproximado:1953 – 1970s</li>
            Auto de lujo con interiores de cuero, dirección asistida,
            transmisión automática y detalles cromados;
            representaba la elegancia y el confort.</ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>
    
    <div class="card mb-3 col-4 text-bg-secondary" >
    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/mustang.webp')}}" class="img-fluid rounded-start " alt="Mustang 1965">
    </div>
    <div class="col-md-8">
        <div class="card-body ">
        <h5 class="card-title">Mustang 1965 (Ford Mustang)</h5>
        <p class="card-text"><ul><li>Año aproximado:1964 – 1966</li>
            Considerado el primer “muscle car”; diseño deportivo,
            motor V8, tracción trasera y un sonido potente que lo
            convirtió en un ícono del automovilismo estadounidense.</ul></p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    </div>
    </div>
    
</div>
{% endblock contenido %}
    
    